{% extends 'tasks/header.html' %}

{% block content %}
<h3 class="task_title">مهام جديدة</h3>
   
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">رقم المهمة</th>
            <th scope="col">وصف المهمة</th>
            <th scope="col">رابط الملفات</th>
            <th scope="col">حالة الإنجاز</th>
          </tr>
        </thead>
        <tbody>
            {% for task in tasks  %}
          <tr>
            <td>{{task.task_number}}</td>
            <td>{{task.desc}}</td>
            <td>{{task.url}}</td>
            <td>{{task.status}}</td>
          </tr> 
          {% endfor %}
        </tbody>
      </table>
{% endblock content %}
            
   
