{% extends 'tasks/header.html' %}

{% block content %}
<h3 class="task_title">مهام جديدة</h3>
<ul class="unorder_list">
    {% for task in tasks  %}
    <li class="list">
        <h5>{{task.task_desc}}</h5>
        <h5>بواسطة</h5>
        {% for author in task.author.all %}
            <p>{{author.first_name}} {{author.last_name}}</p>  
        {% endfor %}
                <h5>ينتهي وقت المهمة</h5>  
        <p>{{task.time_end|date}}</p>
    </li> 
    {% endfor %}</ul>

    
{% endblock content %}
            
   
